<div class=" col-12 d-flex">
  <div class="col-11"><p style="font-weight: bolder;margin-top: 5px;">
    Add Customers
  </p></div>
  <div><span>
    <mat-icon style="cursor: pointer" matTooltip="close" aria-hidden="false" aria-label="Close" (click)="closeDialog()">close</mat-icon>
      </span></div>
</div>
<div class="container-fluid">
  <p style="font-size: 12px;color: darkslategrey;font-weight: 300;">Total Number of Customer : {{total_users}}</p>
  <div class="col-12 row d-flex">
    <mat-form-field class="col-3" appearance="outline">
      <mat-label>Customer Name</mat-label>
      <input matInput type="text" [(ngModel)]="username" required (keyup.enter)="add()">
    </mat-form-field>
    <mat-form-field class="col-3" appearance="outline">
      <mat-label>Maximum Allowable Buildings</mat-label>
      <input matInput type="number" [(ngModel)]="allowale_buildings" [max]="total_buildings"
             (ngModelChange)="maxAllowableBuildingsValueChange()" required>
    </mat-form-field>


    <mat-form-field class="col-3" appearance="outline">
      <mat-label>Choose Buildings</mat-label>
      <mat-select multiple [(ngModel)]="selectedBuildings">
        <mat-option *ngFor="let num of range(1, total_buildings)" [value]="num"
                    [disabled]="isSelectionLimitReached() && !selectedBuildings.includes(num)">
          Building #{{num}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-2" appearance="outline">
      <mat-label>Allowable Rooms</mat-label>
      <input matInput type="number" [value]="allowable_rooms" disabled>
    </mat-form-field>

    <div class="col-1">
      <button style="width: 100%;margin-top: 10px;" mat-raised-button color="primary" (click)="add()">Add</button>
    </div>
  </div>
  <div *ngIf="usersList.length > 0">
    <span style="color: red;font-size: 12px;"
          *ngIf="usersList.length == total_users"> (Customers Full) </span>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Maximum Allowable Buildings</th>
        <th scope="col">Maximum Allowable Rooms</th>
        <th scope="col">Buildings #</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of usersList; let i=index">
        <td>{{i+1}}. {{user.name}}</td>
        <td>{{user.max_allowable_buildings}}</td>
        <td>{{user.max_allowable_rooms}}</td>
        <td>{{user.selected_buildings}}</td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="col-12 row" style="margin-top: 2rem">
    <button class="col-1" mat-raised-button color="primary" (click)="save()">Save</button>
    <button class="col-1" style="margin-left: 1rem;" mat-raised-button color="primary" (click)="closeDialog()">Cancel
    </button>

  </div>
</div>




