<div class=" col-12 d-flex">
  <div class="col-11"><p style="font-weight: bolder;margin-top: 5px;">
    பேச்சாளர் விவரம்
  </p></div>
  <div><span>
    <mat-icon style="cursor: pointer" matTooltip="close" aria-hidden="false" aria-label="Close" (click)="closeDialog()">close</mat-icon>
      </span></div>
</div>
<div class="container-fluid">
  <div class="col-12 row d-flex">
    <mat-form-field class="col-3" appearance="outline">
      <mat-label>பேச்சாளர் பெயர்</mat-label>
      <input matInput type="text" [(ngModel)]="username" required (keyup.enter)="add()">
    </mat-form-field>
    <mat-form-field class="col-3" appearance="outline">
      <mat-label>தொலைபேசி எண்</mat-label>
      <input matInput type="text" [(ngModel)]="phone" required>
    </mat-form-field>
    <mat-form-field class="col-3" appearance="outline">
      <mat-label>அதிகபட்ச மண்டலம்</mat-label>
      <input matInput type="number" [(ngModel)]="allowale_buildings" [max]="total_buildings"
             (ngModelChange)="maxAllowableBuildingsValueChange()" required>
    </mat-form-field>


    <mat-form-field class="col-3" appearance="outline">
      <mat-label>மண்டலத்தைத் தேர்ந்தெடுக்கவும்</mat-label>
      <mat-select multiple [(ngModel)]="selectedBuildings">
        <mat-option *ngFor="let num of range(1, total_buildings)" [value]="num"
                    [disabled]="isSelectionLimitReached() && !selectedBuildings.includes(num)">
          {{getName(num)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-2" appearance="outline">
      <mat-label>அதிகபட்ச தொகுதி</mat-label>
      <input matInput type="number" [value]="allowable_rooms" disabled>
    </mat-form-field>

    <div class="col-1">
      <button *ngIf="!editFlag" style="width: 100%;margin-top: 10px;" mat-raised-button color="primary" (click)="add()">Add</button>
      <button *ngIf="editFlag" style="width: 100%;margin-top: 10px;" mat-raised-button color="primary" (click)="update()">Update</button>
    </div>
  </div>
  <div *ngIf="usersList.length > 0">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">பேச்சாளர் பெயர்</th>
        <th scope="col">தொலைபேசி எண்</th>
        <th scope="col">அதிகபட்ச மண்டலம்</th>
        <th scope="col">அதிகபட்ச தொகுதி</th>
        <th scope="col">மண்டலங்கள்</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of usersList; let i=index">
        <td>{{i+1}}. {{user.name}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.max_allowable_buildings}}</td>
        <td>{{user.max_allowable_rooms}}</td>
        <td>{{getNamesList(user.selected_buildings)}}</td>
        <td>
          <mat-icon style="cursor: pointer;font-size: 18px;" matTooltip="Edit" (click)="editUser(i)">edit</mat-icon>
          <mat-icon style="cursor: pointer;font-size: 18px;margin-left: 5px;" matTooltip="Remove" (click)="removeUser(i)">remove_circle</mat-icon>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="col-12 row" style="margin-top: 2rem">
    <button class="col-1" mat-raised-button color="primary" (click)="save()">Save</button>
    <button class="col-1" style="margin-left: 1rem;" mat-raised-button color="primary" (click)="cancel()">Cancel
    </button>

  </div>
</div>




