<div class="container-fluid">
  <div class="d-flex flex-row">
    <div class="p-2 col-4">
      <mat-form-field class="example-form-field" appearance="outline" style="width:100%">
        <mat-label>Total Rooms</mat-label>
        <input matInput type="number" [(ngModel)]="rooms" (ngModelChange)="roomsValueChange()" required>
      </mat-form-field>
    </div>
    <div class="p-2 col-4">
      <mat-form-field class="example-form-field" appearance="outline" style="width:100%">
        <mat-label>Total Buildings</mat-label>
        <input matInput type="number" [(ngModel)]="buildings" (ngModelChange)="buildingsValueChange()" required>
      </mat-form-field>
    </div>
    <div class="p-2 col-4">
      <mat-form-field class="example-form-field" appearance="outline" style="width:100%">
        <mat-label>Rooms per Building</mat-label>
        <input matInput [value]="roomsPerBuilding" required disabled>
      </mat-form-field>
    </div>

  </div>
  <div class="d-flex flex-row">
    <!--    <div class="p-2 col-3">-->
    <!--      <mat-form-field class="example-form-field" appearance="outline" style="width:100%">-->
    <!--        <mat-label>Maximum Allowable Buildings</mat-label>-->
    <!--        <input matInput type="number" [(ngModel)]="maxAllowableBuildings"-->
    <!--               (ngModelChange)="maxAllowableBuildingsValueChange()" required>-->
    <!--      </mat-form-field>-->
    <!--    </div>-->

    <!--    <div class="p-2 col-3">-->
    <!--      <mat-form-field class="example-form-field" appearance="outline" style="width:100%">-->
    <!--        <mat-label>Maximum Allowable Rooms</mat-label>-->
    <!--        <input matInput [value]="maxAllowableRooms" required disabled>-->
    <!--      </mat-form-field>-->
    <!--    </div>-->
    <div class="p-2 col-4">
      <mat-form-field class="example-form-field" appearance="outline" style="width:100%">
        <mat-label>No. of Days</mat-label>
        <input matInput type="number" [(ngModel)]="days" (ngModelChange)="daysValueChange()" required>
      </mat-form-field>
    </div>

    <div class="p-2 col-4">
      <mat-form-field class="example-form-field" appearance="outline" style="width:100%">
        <mat-label>No. of Users</mat-label>
        <input matInput type="number" [(ngModel)]="users" (ngModelChange)="usersValueChange()" required>
      </mat-form-field>
    </div>
    <div class="p-2 col-4 text-right">
      <button style="margin-top: 10px;" mat-raised-button color="primary" (click)="addUsers()">Manage</button>
      <button style="margin-top: 10px;margin-left: 1rem;" mat-raised-button color="primary" (click)="assignRoom()">
        Assign
      </button>
      <button style="margin-top: 10px;margin-left: 1rem;" mat-raised-button color="primary"
              (click)="room_allocated = [];selected_buildings=[]">Clear
      </button>
      <!--      <button style="margin-top: 10px;margin-left: 1rem;" mat-raised-button color="primary"-->
      <!--              (click)="editUserName()">Edit Users' Name-->
      <!--      </button>-->
    </div>
  </div>
  <div>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">Building #</th>
        <th scope="col">Room #</th>
        <th scope="col" *ngFor="let day of numberOfDays">Day {{day}}</th>
      </tr>
      </thead>
      <tbody>
      <!-- Generate table rows dynamically -->
      <ng-container *ngFor="let rowIndex of numberOfRows;">
        <tr *ngIf="rowIndex % roomsPerBuilding === 0">
          <td [attr.rowspan]="roomsPerBuilding">
            Building {{getBuildingNumber(rowIndex)}} </td>
          <td>Room {{rowIndex + 1}}</td>
          <td *ngFor="let day of numberOfDays" (click)="cellClicked(rowIndex, day)"
              [matMenuTriggerFor]="menu"> {{getAllocatedValue(rowIndex, day)}}</td>
        </tr>
        <tr *ngIf="rowIndex % roomsPerBuilding !== 0">
          <td> Room {{ rowIndex + 1 }}</td>
          <td *ngFor="let day of numberOfDays" (click)="cellClicked(rowIndex, day)"
              [matMenuTriggerFor]="menu">  {{getAllocatedValue(rowIndex, day)}}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <mat-menu #menu="matMenu">
      <button (click)="selectedUser(user)" mat-menu-item *ngFor="let user of getUserList()">
        <span>{{user.name}}</span>
      </button>
    </mat-menu>
  </div>
</div>
